{{ if .Site.Menus.main }}
<div id="menu" data-target="menu">
    <div class="menu-header">
        <span class="menu-label">Menu</span>
        <a class="menu-close" data-action="menu" data-target="menu"></a>
    </div>

    <div class="menu-list">

                <ul class="sidebar-menu">
          {{ $currentNode := . }}
          {{ range .Site.Menus.main.ByWeight }}
              {{ if .HasChildren }}
            <li class="sub-menu{{if $currentNode.HasMenuCurrent "main" . }} active{{end}} menu-list-item">
            <a href="javascript:;home current js-ajax-link" class="">
                {{ .Pre }} ---
                <span>{{ .Name }}</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
                {{ range .Children }}
                <li{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}}><a href="{{.URL}}" class="home current js-ajax-link">{{ .Pre }}&nbsp; {{ .Name }} </a> </li>
                {{ end }}
            </ul>
          {{else}}
            <li class="menu-list-item">
            <a class="" href="{{.URL}}">
                {{ .Pre }}
                <span>{{ .Name }}</span>
            </a>
          {{end}}
          </li>
          {{end}}
          </ul>
    </div>

</div>
{{ end }}